html,
body{
    padding: 0;
    margin: 0;
}

/* .box{
    overflow: hidden;
}

.left{
    float: left;
    width: 100px;
    height: 200px;
    background-color: aqua;
}

.right{
    margin-left: 100px;
    height: 100px;
    background-color: brown;
} */


/* .box{
    display: flex;
}

.left{
    width: 100px;
    height: 200px;
    background-color: chartreuse;
}

.right{
    background-color: coral;
    height: 100px;
    flex: 1;
} */


/* .box{
    position: relative;
}

.left{
    position: absolute;
    background: coral;
    width: 100px;
    height:100px;
}

.right{
    margin-left:100px;
    background: cyan;
    height: 100px;
} */

/* .box{
    position: relative;
}

.left{
    width: 100px;
    height: 200px;
    background: cyan;
}

.right{
    position: absolute;
    height: 100px;
    left: 100px;
    top: 0;
    right: 0;
    bottom: 0;
    background: darkgoldenrod;
} */




.left{
    height: 100px;
    background-color: darkorange;
    margin-bottom: 10px;
}

.middle{
    height: 100px;
    background-color: darkturquoise;
    margin-bottom: 10px;
}

.right{
    height: 100px;
    background-color: deeppink;
    margin-bottom: 10px;
}


.outer1{
    position: relative;
}

.outer1 .left{
    position: absolute;
    left: 0;
    width: 100px;
}

.outer1 .middle{
    margin-left: 100px;
    margin-right: 200px;
}

.outer1 .right{
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
}

.outer2{
    display: flex;
}

.outer2 .left{
    width: 100px;
}

.outer2 .middle {
    flex: 1;
}

.outer2 .right{
    width: 200px;
}



.outer3 .left{
    float: left;
    width: 100px;
}


.outer3 .middle{
    margin-right: 200px;
}

.outer3 .right{
    float: right;
    width: 200px;
}

.outer4{
    padding: 0 200px 0 100px;
    overflow: hidden;
}

.outer4 .middle{
    float: left;
    width: 100%;
}

.outer4 .left{
    float: left;
    width: 100px;
    margin-left: -100%;
    position: relative;
    left: -100px;
}

.outer4 .right{
    float: left;
    width: 200px;
    margin-left: -200px;
    position: relative;
    /* right: -200px; */
    left: 200px;
}


.outer5 .wrapper{
    width: 100%;
    float: left;
}
.outer5 .middle{
    margin-left: 100px;
    margin-right: 200px;
}
.outer5 .left{
    float: left;
    width: 100px;
    margin-left: -100%;
}

.outer5 .right{
    float: left;
    width: 200px;
    margin-left: -200px;
}
